/* Fonts */
/* @import "" */

/* Icons */
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css";

:root {
    --bg-color: #333;
}

body {
    background-color: var(--bg-color);
    transition: background-color .4s;
}

*,
*::before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

button {
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .4s;
}

input {
    outline: none;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

/* Scheme button */
.change-theme {
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 100%;
    background-color: #444;
}

.scheme-animation {
    animation: schemeBtn .8s forwards;
}

.color-icon {
    color: #e2e2e2;
    font-size: 1.5em;
}



@media (min-width: 1024px) {
    .change-theme:hover {
        background-color: #555;
    }
}

h1 {
    text-align: center;
}

.content {
    margin: auto;
    margin-top: 10vh;
    border: 3px solid white;
    border-radius: 4px;
    width: 500px;
    overflow: auto;
    background-color: #e2e2e2;
    box-shadow: 0 0 55px #0007;
    color: #444;
}

.row {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.button_completada,
.button_pendiente {
    margin: auto;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 1.5 em;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px #0007;
}